body{
    width: 105%;
}
header{
    
   display: block;
    height: 250px;
    justify-content: center;
}
h1{
  font-size: 40px;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.menu ul{
    
    padding-left: 68px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
}
.menu ul li{
    padding: 5px;
    font-size: 20px;
}
.bico{
    width: 400px;
}
.motor{
    width: 300px;
}
.slider{
    width: 200px;
}


