/*******************************************************************************HEADER*********************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lato&display=swap');
:root{
    --Corfundo: #A3D989;
    --Cor2:#85cc63;
    --Cor3: #68bc40;
    --Cor4: #539534;
    --Cor5: #3e6f27;
    --CorText:#262525;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Corfundo);
     max-width: 1920px;
    
}

header{
    background-color: var(--Cor3);
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    color: var(--CorText); 
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

ul {
    padding-left: 250px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

li{
    margin-right: 60px;   
    color: var(--CorText);
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: var(--CorText);
}

/**************************************************************************FIM HEADER******************************************************************************/

/************************************************************************CORPO PAGINA*****************************************************************************/

main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}

.apresentação h2{
    display: flex;
    color: var(--CorText);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 34px;
    margin: 60px;
    justify-content: center;
}

.text{
    display: flex;
    color: var(--CorText);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin: 40px;
    justify-content: center;
}
h3{
    font-size: 22px;
}

.texto p{
    display: flex;
    color: var(--CorText);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 40px;
    justify-content: center;
    width: 1300px;
    text-align: center;
    padding-top: 15px;
}
